/* This is the stylesheet for portfolio.html*/
.top {
  font-size: 100px;
  text-emphasis: strong;
  text-shadow: 2px 1px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: "Courier New", Courier, monospace;
}

.smag {
  float: right;
  padding-left: 40px;
  padding-right: 40px;
}

.vinc {
  float: left;
  padding-left: 40px;
  padding-right: 40px;
}

.terr {
  float: right;
  padding-left: 40px;
  padding-right: 40px;
}

.simi {
  float: left;
  padding-left: 40px;
  padding-right: 40px;
}

.footer {
  width: 100%;
  margin-top: 200px;
  text-align: center;
}
